{{!toJSON data}}
{{#section 'head'}}
<style>

</style>
{{/section}}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/datasources">Datasources</a></li>
        <li class="breadcrumb-item active" aria-current="page">new</li>
    </ol>
</nav>

<h4>Add new datasource</h4>

<form action="/datasources/fileupload" method="post" enctype="multipart/form-data">
    <input type="file" name="filetoupload"><br>
    <input type="submit">
</form>