{{!toJSON data}}
{{#section 'head'}}
<style>

</style>
{{/section}}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/reports">Reports</a></li>
        <li class="breadcrumb-item active" aria-current="page">new</li>
    </ol>
</nav>

<h4>Add new report</h4>